/*GENERAL STYLES*/

html{
	font-size: 100%;
}

.center {
	max-width: 70%;
	margin: auto;
}

body {
	background-color:#D9D5E7;
}

h1, h2, h3, h4, h5, h6 {
	font-family: kepler-std, serif;
  font-weight: 600;
	font-size: 2.4rem;
	line-height: 2.4rem;
	color: #645496;
}

p {
	color: #525252;
	font-family: trade-gothic-next-condensed, sans-serif;
  font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 80%;
	color: #525252;
	text-align: center;
}

a img {
	border: none;
}

.emphasize {
	font-weight: 600;
	font-style: italic;
}

/*END OF GENERAL STYLES*/
/*CARDS*/

.aboutgrid {
	margin: 0 -10px;
	padding: 0;
	list-style: none;
	display: grid;
/*	grid-template: 1fr 1fr/repeat(auto-fill, minmax(100px,1fr));*/
	grid-template: repeat(5, 1fr);
	gap: 10px;
}

.aboutgrid li {
/*	background-color: #fef65b;
	border: 1px solid #cccccc;
	border-radius: 5px;*/
	padding-left: 20px;
}

.aboutheadline {
	grid-row: 1 / span 1;
	grid-column: 1 / span 4;
	text-align: right;
}

.aboutbio {
	grid-row: 2 / span 3;
	grid-column: 1 / span 4;
	text-align: right;
}

.aboutheadshot {
	grid-row: 1 / span 2;
	grid-column: 5 / span 1;
	text-align: center;
	margin-top: 20px;
}

.aboutlove {
	grid-row: 3 / span 1;
	grid-column: 5 / span 1;
}

@when {

}

@media screen and (max-width: 825px) {

	.center {
		max-width: 90%;
	}

	.aboutheadline {
		grid-row: 1 / span 1;
		grid-column: 1 / span 1;
		text-align: center;
	}

	.aboutbio {
		grid-row: 3 / span 1;
		grid-column: 1 / span 1;
		text-align: left;
		margin-right: 20px;
	}

	.aboutheadshot {
		grid-row: 2 / span 1;
		grid-column: 1 / span 1;
		margin-top: 0px;
	}

	.aboutlove {
		grid-row: 4 / span 1;
		grid-column: 1 / span 1;
	}

}

/*END OF CARDS*/
/*HEADER (JQUERY)*/

/*header org, style, order*/

header {
	display: flex;
	flex-flow: row;
	background-color: #645496;
	margin: 0;
	padding: 0 10px;
}

header h1 {
	order: 2;
	color: #FFFFFF;
}

.menu-trigger {
	order: 1;
	font-size: 2em;
	width: 2em;
}

p.menutext {
	color: #FFFFFF;
	text-align: center;
}

img.desktoplogo {
	display: none;
}

h1.titletext {
	padding-top: 12px;
}

/*nav org, style*/

nav ul li {
	display: block;
	border-top: 1px #888888 solid;
}

.last {
	padding-bottom: 40px;
}

nav a {
	color: #D9D5E7;
	display: block;
	text-decoration: none;
	padding: 20px 30px;
}

nav ul {
	display: none;
}

/*full-width instructions*/

@media screen and (min-width: 825px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		border-top: none;
	}
	.menu-trigger {
		display: none;
	}
	nav {
		order: 2;
	}
	header h1 {
		order: 1;
	}
	img.desktoplogo {
		display: inline;
		padding-top: 10px;
		padding-right: 10px;
	}
}

/*END OF HEADER (JQUERY)*/
/*SLIDESHOW*/

.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
	}

.mySlides {
	display: none;
}

.mySlides img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.vert img {
	max-width: 500px;
	max-height: auto;
}

.first {
	display: block;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8)
}

.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: static;
	bottom: -30px;
	width: 100%
	text-align: center;
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: auto 2px;
	background-color: #ffffff;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
	background-color: #000000;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
