/*GENERAL STYLES*/

html{
	font-size: 100%;
}

.center {
	max-width: 90%;
	margin: auto;
}

body {
	background-color:#D9D5E7;
}

h1, h2, h3, h4, h5, h6 {
	font-family: kepler-std, serif;
  font-weight: 600;
	font-size: 2.4rem;
	line-height: 2.4rem;
	color: #645496;
}

p {
	color: #525252;
	font-family: trade-gothic-next-condensed, sans-serif;
  font-weight: 400;
	font-size: 1rem;
	line-height: 1.5rem;
	max-width: 900px;
}

#footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 80%;
	color: #525252;
	text-align: center;
}

img {
	border: none;
}

.emphasize {
	font-weight: 600;
	font-style: italic;
}

/*END OF GENERAL STYLES*/
/*HEADER (JQUERY)*/

/*header org, style, order*/

header {
	display: flex;
	flex-flow: row;
	background-color: #645496;
	margin: 0;
	padding: 0 10px;
}

header h1 {
	order: 2;
	color: #FFFFFF;
}

.menu-trigger {
	order: 1;
	font-size: 2em;
	width: 2em;
}

/*nav org, style*/

nav ul li {
	display: block;
	border-top: 1px #79896D solid;
}

nav a {
	color: #D9D5E7;
	display: block;
	text-decoration: none;
	padding: 20px 30px;
}

nav ul {
	display: none;
}

/*full-width instructions*/

@media screen and (min-width: 825px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		border-top: none;
	}
	.menu-trigger {
		display: none;
	}
	nav {
		order: 2;
	}
	header h1 {
		order: 1;
	}
}

/*END OF HEADER (JQUERY)*/
/*GRID*/

.grid {
	list-style: none;
	display: grid;
	grid-template: repeat(2, 1fr);
	grid-gap: 10px;
}

.abouttext {
	grid-area: rowstart columnstart rowend columnend;
	grid-area: 1 / 1 / span 2 / span 2;
}

.aboutheadshot {
	grid-area: 1 / 2 / span 1 / span 1;
}
